/* ========== 여기에 CSS를 작성하세요 ========== */
/*
요구사항: index.html 상단 주석을 참고하여 배경 이미지를 적용하세요.
- background-image, background-repeat, background-position, background-size 를 사용합니다.
- 히어로와 카드 이미지 영역에 각각 적절한 배경을 넣어 주세요.
*/

.hero {
  width: 100%;
  height: 600px;
  background-image: url(https://picsum.photos/1920/600);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* 중앙 정렬 flexbox */
  display: flex; /* 플렉스 모드 켜기 */
  justify-content: center; /* 가로 가운데 정렬*/
  align-items: center; /* 세로 가운데 정렬 */

  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 50px auto 0;
}

.card-image {
  width: 100%;
  height: 200px;
  background-image: url(https://picsum.photos/400/300);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.card-content {
  padding: 20px;
  text-align: center;
}
