/* ========== 여기에 CSS를 작성하세요 ========== */
/*
요구사항: index.html 상단 주석을 참고하여 
.box에 content, padding, border, margin을 적용하세요.
*/

.box {
  width: 300px;
  height: 100px;
  background-color: #e0f7fa;
  padding: 20px;
  border: 5px solid #006064;
  margin: 50px;
}
