/* ========== 여기에 CSS를 작성하세요 ========== */
/*
요구사항: index.html 상단 주석을 참고하여 content-box와 border-box를 적용하세요.
*/

.box {
  width: 300px;
  height: 150px;
  padding: 20px;
  border: 5px solid blue;
  background-color: #e3f2fd;
  margin-bottom: 30px;
  color: #333;
  font-weight: bold;
}

.content-box {
}

.border-box {
}
