/* ========== 여기에 CSS를 작성하세요 ========== */

.box {
  background-color: #ffcc80;
  border: 2px solid #ef6c00;
}

.block {
  width: 200px;
  height: 50px;
  margin-bottom: 10px;
}

.inline {
  width: 200px;
  height: 50px;
  margin-top: 50px;
  margin-right: 10px;
}
