/* ========== 여기에 CSS를 작성하세요 ========== */
/* 상속되는 속성(color, font) vs 상속 안 되는 속성(border, padding) / inherit */

.container {
  color: #555;
  font-family: Arial;
  font-size: 18px;
  border: 5px solid orange;
  padding: 30px;
}

span {
  font-weight: bold;
}

a {
  display: block;
  margin-top: 10px;
}

.force-inherit {
  color: inherit;
  text-decoration: none;
}

button {
  display: block;
  margin-top: 10px;
}
