/* ========== 여기에 CSS를 작성하세요 ========== */
/* :last-child, :nth-child(even), :nth-child(-n+3), 인접 형제(+) */

.board-list {
  list-style: none;
  padding: 0;
  border: 1px solid #ccc;
}

.board-list li {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.board-list li:last-child {
  border-bottom: none;
}

.board-list li:nth-child(even) {
  background-color: #f9f9f9;
}

.board-list li:nth-child(-n + 3) {
  color: #0056b3;
  font-weight: bold;
}

.btn-group button {
  /* btn-group의 button의 기본값 */
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #333;
  cursor: pointer;
}

.btn-group button + button {
  /* btn-group의 button + */
  margin-left: 10px;
}
