/* ========== 여기에 CSS를 작성하세요 ========== */
/*
요구사항: index.html 상단 주석을 참고하여 padding, margin 단축 표기법과 margin: auto를 적용하세요.
*/

.main-container {
  width: 960px;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.header {
  padding: 20px 40px; /* 상하(20px) 좌우(40px) */
  background-color: #333;
  color: white;
}

.content {
  padding: 50px 20px 30px 20px; /* (위, 오른쪽, 아래, 왼쪽 - 시계방향) */
  margin-bottom: 50px;
  border: 1px solid #ddd;
}
