/* ========== 여기에 CSS를 작성하세요 ========== */
/*
요구사항: index.html 상단 주석을 참고하여 overflow: visible, hidden, auto를 적용하세요.
*/

.container {
  display: flex;
  gap: 20px;
}

.box {
  width: 200px;
  height: 150px;
  border: 2px solid #333;
  padding: 10px;
  background-color: #fff;
}

.visible {
  overflow: visible; /* 내용물이 많아도 다 보여주는 */
  margin-bottom: 50px;
}

.hidden {
  overflow: hidden; /*  정해진 상자 높이를 넘쳐서 글자가 나올 경우 자름*/
}

.auto {
  overflow: auto; /* 넘치면 스크롤 바가 생김 */
}
