/* ========== 여기에 CSS를 작성하세요 ========== */
/* 명시도: 태그(0,0,1) < 클래스(0,1,0) < 클래스+태그(0,1,1) < 아이디+태그(1,0,1) < 아이디+클래스(1,1,0) */

/* 아이디, 태그, 클래스를 섞어서 더 높은 합산 방식으로 순위를 나눌 수 있음 */
p {
  color: grey;
}

.text {
  color: yellow;
}

/* 클래스 + 태그  */
p.highlight {
  color: orange;
}

/* 아이디 + 태그 */
#content p {
  color: red;
}

/* 아이디 + 클래스 */
#content .text {
  color: blue;
}
